@model Recipe

@{
    ViewData["Title"] = "View Recipes";
}

<div class="page-content">
    <div class="row">
        <h1 class="col-lg-11 col-mg-11 col-sm-11">@Model.RecipeName</h1>
        <a asp-controller="Recipe" asp-action="EditRecipe" asp-route-id="@Model.RecipeId" type="button"
           class="btn btn-lg btn-secondary float-right">Edit</a>
    </div>

    <img class="recipe" src="@Model.Image" />
    <p><h6>Category:</h6></p>
        @foreach (Category category in Model.Categories)
        {
            <ul>@category.Name </ul>
        }


        <p><h6>Ingredients:</h6> @Model.Ingredients</p>
        <p><h6>Instructions:</h6>@Model.Instructions</p>

    </div>

